body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 30%;
  background-color: #111;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 70%;
  background-color: #ffeaa7;
  height: 100%;
  overflow: hidden;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

textarea {
  position: absolute;
  top: 0;
  font-size: 18px;
}
